@import url('../../../App.css');

.btn{
    padding: 8px 16px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: min-content;
    text-align: center;
}

.btn-primary{
    background-color: var(--btn-bg-primary);
    color: var(--btn-text-primary);
    border: 1px solid var(--btn-text-primary);
}

.btn-secondary{
    background-color: var(--btn-bg-secondary);
    color: var(--btn-text-secondary);
    border: 1px solid var(--btn-text-secondary);
}

.btn-special{
    background-color: var(--btn-bg-special);
    color: var(--btn-text-primary);
}

.btn-light{
    background-color: white;
    border: 1px solid var(--border-color);
    color:var(--btn-text-light)
}