@import url('../../App.css');

.tabs{
    display: flex;
    justify-content: center;
    padding: 25px 0px;
}

.tab-menu-item{
    padding: 10px 15px;
    color: var(--text-secondary);
    cursor: pointer;
    font-weight: 600;
}

.tab-menu-item-active{
    color: black;
    border-bottom: 2px solid black;
}