@import url('../../../App.css');
.text-area-box{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}

.text-area-box > label{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.text-area-box > textarea{
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 6px;
    outline: none;
    resize: none;
    height: 100%;
}

.text-area-box > textarea:focus{
    border: 1px solid var(--secondary-color);
}