@import url('../../App.css');

.modal__backdrop {
	background: rgba(0, 0, 0, .65);
    position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
    overflow: auto;
	z-index: 1;
}

.modal__container {
	background: #fff;
	border-radius: 5px;
	max-width: 100%;
	margin: 50px auto;
	padding: 25px 30px;
	width: 30vw;
}

.modal__title {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 25px;
	margin-top: 5px;
}

.modal__footer{
	display: flex;
}

.modal__footer > *{
	margin-right: 10px
}