@import url("../../../App.css");

.accordion-wrapper {
    margin-top: 0.5em;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 10px 0px;
}
.accordion-item {
    overflow: hidden;
    transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
    height: auto;
    max-height: 9999px;
}
.accordion-item.collapsed {
    max-height: 0;
    transition: max-height 0.35s cubic-bezier(0, 1, 0, 1);
}
.accordion-title {
    font-weight: 600;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.accordion-title-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 10px;
}

.acc-title{
    color: var(--text-tertiary);
}

.acc-date{
    color: var(--text-secondary);
}

.accordion-title::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
}
.accordion-title:hover,
.accordion-title.open {
    color: black;
}
.accordion-title.open::before {
    content: "";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid currentColor;
}
.accordion-content {
    padding: 1em 1.5em;
}
