@import url('../../App.css');

.personal-details,.pd{
    width: 90vw;
    display: flex;
}

.image-space,.is{
    flex: 3;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    height: 220px;
}

.img-btn{
    height: 30px;
    border: 2px solid whitesmoke;
    border-radius: 6px;
    padding: 6px;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    color: var(--btn-text-light);
    font-weight: 600;
    cursor: pointer;
}

.update-img,.is>img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
}

.details,.de{
    flex:8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.details-inner{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 15px;
}

.details-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.btn-div{
    padding-left: 15px;
}

/* after save */
.de > h1{
    margin-bottom: 5px;
}

.de > p{
    margin: 5px;
}

.email{
    font-weight: 600;
    color: var(--btn-text-light);
}