@import url('../../../App.css');
.input-box{
    padding: 5px 0px;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.input-box > label{
    padding-bottom: 5px;
    font-weight: 600;
    font-size: 14px;
}

.input-box > input{
    border: 1px solid var(--border-color);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 6px;
    outline: none;
}

.input-box > input:focus{
    border: 1px solid var(--secondary-color);
}