body{
  font-family: "Avenir Next",sans-serif;
}

html{
  height: 100%;
}

:root{
  --primary-color: #5050C5;
  --secondary-color: #D9D9D9;
  --border-color:#EBEBEB;
  --text-primary: #222222;
  --text-secondary: #717171;
  --text-tertiary: #2B2B2B;
  --btn-bg-primary: #D33852;
  --btn-text-primary: white;
  --btn-bg-secondary: white;
  --btn-text-secondary: #222222;
  --btn-bg-special: #008392;
  --btn-text-light: #717171;
}

.flex-row{
  display: flex;
}

.flex-coloumn{
  display: flex;
  flex-direction: column;
}