body{
  font-family: "Avenir Next",sans-serif;
}

:root{
  --primary-color: #5050C5;
  --secondary-color: #D9D9D9;
  --text-primary: #222222;
  --text-secondary: #717171;
  --btn-bg-primary: #D33852;
  --btn-text-primary: white;
  --btn-bg-secondary: white;
  --btn-text-secondary: #222222;
}